header {
    padding: 15px;
    margin-top: 10px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 220px;
    background-color: #4aaaa5;
    color: white;
    font-weight: bold;
    float: left;
    position: absolute;
    left: 280px;
}
.border {
    border-bottom: solid;
    border-bottom-color: #ccc;
    border-bottom-width: 2px;
}

.bottomport {
    margin-bottom: 60px;
}

Body {
    background: url("../images/backgroundtexture.jpg");
    background-repeat: repeat;
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
}


#name {
    padding: 20px;
    font-size: 30px;
    width: 200px;
    background-color: #4aaaa5;
    font-weight: bold;
    float: left;
    width: 100%;
}

.navbar {
    list-style: none;
    padding: 13px;
    overflow: hidden;
    background-color: white;
    width: 98%;
}

.divider {
    float: right;
    height: 43px;
    border-left:1px solid darkgrey;
}

li {
    float: right;
}

li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: white;
    background-color: #4aaaa5;
}


.content {
    background-color: white;
    width: 800px;
    margin:auto;
    padding: 30px;
    padding-left: 30px;
    padding-top: 5px;
    margin-top: 20px;
    height: 450px;
    line-height: 1.5;
}

#aboutme {
    font-size: 25px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    color:#4aaaa5
}

#aboutborder {
    border-bottom: solid;
    border-bottom-color: #ccc;
    border-bottom-width: 2px;

}

#RandyPic {
    float: left;
    width: 20%;
    height: auto;
    padding-right: 20px;
}

#content2 {
    margin-top: 20px;
}

#form
{
    margin-top: 50px;
}

footer {
    clear: both;
    background-color: #666;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-top: solid;
    border-top-color: #4aaaa5;
    border-top-width: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 97.2%;
}

input[type=text] {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=text2] {
    width: 100%;
    padding: 10px 20px;
    padding-bottom:70px;
    margin: 8px 0;
    box-sizing: border-box;
}

.button {
    background-color: #4aaaa5; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
    margin-right: 159px;
}

.button1 {padding: 10px 24px
}