html {
    position: relative;
    min-height: 100%;
  }

  body {
    background: url("../imgs/background.jpg");
    background-size: cover;
  }

  h1, h2 {
    font-family: 'Roboto Condensed', sans-serif;
  }

  /*Navbar*/

  .navbar-brand {
      margin-left: 30px;
      margin-right: 30px;
  }

  .navbar-brand {
    font-family: 'Permanent Marker', cursive;
    padding-left: 80px;
    font-size: 25px;
  }

  .navbar-nav {
    padding-right: 80px;
  }

  /* Grid */

.container {
    

    background-color: white;
    margin-bottom:50px;
}

.row {
    padding:20px
}

.connect {
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
}

.center-block {
    padding-top: 30px;
    padding-right: 10px;
}

/*footer*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    padding: 10px;
    background-color: rgb(77, 77, 77);
    color: white;
}
